requests
beautifulsoup4
redis
python-dateutil
apscheduler
fastapi
uvicorn[standard]
psycopg2-binary
SQLAlchemy
python-multipart
pydantic[email]
PyJWT
requests
crawl4ai playwright
playwright install chromium
pip install -U crawl4ai playwright bs4 lxml
python -m playwright install --with-deps chromium
crawl4ai-setup
selenium
redis
webdriver_manager