requests
beautifulsoup4
python-dateutil
apscheduler
fastapi
uvicorn[standard]
psycopg2-binary
SQLAlchemy
python-multipart
python-dotenv

# --- Crawl4AI + Playwright ---
crawl4ai
playwright
lxml
bs4

selenium
webdriver_manager
feedparser
pandas
yfinance
hdbscan
captum
pymysql
langchain
langchain_core
langchain_openai

# AI requirements
numpy
scipy
scikit-learn
statsmodels
lightgbm
umap-learn
tensorflow-cpu
transformers
openai
google-generativeai